/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  vertical-align: middle;
  max-width: 100%; }

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
  margin: 0; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent; }

.body {
  background-color: #515765;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", "Helvetica Neue", sans-serif; }

.header {
  color: blue;
  font-size: 1.414em; }

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

.calendar-page {
  max-width: 640px;
  margin: 16px auto 0 auto;
  color: #969CAC; }

.calendar-grid,
.calendar-days-label {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.calendar-grid-item,
.calendar-days-item {
  flex: 0 14.28571%;
  text-align: center;
  padding: 8px 0; }

.calendar-grid-item.nextMonth,
.calendar-grid-item.prevMonth {
  color: #676d7c; }

.calendar-days-select {
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  width: 70%;
  padding: 4px 0;
  cursor: pointer; }
  .calendar-days-select.active {
    background-color: #414755;
    box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(2px); }

.calendar-month-wrap {
  position: relative;
  height: 32px; }

.calendar-arrow-left {
  position: absolute;
  left: 8px;
  top: 0;
  height: 32px;
  width: 32px;
  z-index: 2; }

.calendar-arrow-right {
  position: absolute;
  right: 8px;
  top: 0;
  height: 32px;
  width: 32px;
  z-index: 2; }

.calendar-arrow-left__img {
  opacity: 0.4;
  transform: rotate(90deg);
  cursor: pointer; }

.calendar-arrow-right__img {
  opacity: 0.4;
  transform: rotate(-90deg);
  cursor: pointer; }

.calendar-month-name {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
  z-index: 1; }

/*# sourceMappingURL=index.css.map */
