$jp-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", "Helvetica Neue", sans-serif;
.body {
  background-color: #515765;
  font-family: $jp-font;
}
.header {
  color: blue;
  font-size: 1.414em;
}

// SLIDER STYLE
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

// CALENDAR CSS
$arrow-size: 32px;
.calendar-page {
  max-width: 640px;
  margin: 16px auto 0 auto;
  color: #969CAC;
}
.calendar-grid,
.calendar-days-label {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.calendar-grid-item,
.calendar-days-item {
  flex: 0 14.28571%;
  text-align: center;
  padding: 8px 0;
}
.calendar-grid-item.nextMonth,
.calendar-grid-item.prevMonth {
  color: #676d7c;
}
.calendar-days-select {
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  width: 70%;
  padding: 4px 0;
  cursor: pointer;
  // ADD HOVER EFFECT ON DESKTOP SCREEN LATER
  // &:hover {
  //   background-color: #464c5a;
  // }
  &.active {
    background-color: #414755;
    box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
}
.calendar-month-wrap {
  position: relative;
  height: $arrow-size;
}
.calendar-arrow-left {
  position: absolute;
  left: 8px;
  top: 0;
  height: $arrow-size;
  width: $arrow-size;
  z-index: 2;
}
.calendar-arrow-right {
  position: absolute;
  right: 8px;
  top: 0;
  height: $arrow-size;
  width: $arrow-size;
  z-index: 2;
}
.calendar-arrow-left__img {
  opacity: 0.4;
  transform: rotate(90deg);
  cursor: pointer;
}
.calendar-arrow-right__img {
  opacity: 0.4;
  transform: rotate(-90deg);
  cursor: pointer;
}
.calendar-month-name {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
  z-index: 1;
}

// TIME PICKER
